<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
        <% menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :week_start_date %>
    <%= form.date_field :week_start_date, required: true %>
  </div>

  <div class="field">
    <%= form.label :breakfast_items %>
    <%= form.text_area :breakfast_items, rows: 3 %>
  </div>

  <div class="field">
    <%= form.label :lunch_items %>
    <%= form.text_area :lunch_items, rows: 3 %>
  </div>

  <div class="field">
    <%= form.label :dinner_items %>
    <%= form.text_area :dinner_items, rows: 3 %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
